/********** GÉNÉRAL **********/
body
{
    font-family: 'Raleway', sans-serif;
    width: 90%;
    margin: auto;
    overflow-wrap: break-word;
}

/********** ENTÊTE **********/
header
{
    display: flex;
}

.menu
{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.menu a
{
    background-color: white;
    text-decoration: none;
    padding: 1rem 1rem 1rem 1rem;
}

.btn_menu_1
{
    color: #0065FC;
    border-top: 2px solid #0065FC;
}
.btn_menu_2
{
    color: black;
}
.btn_menu_3
{
    color: #0065FC;
    font-weight: bolder;
}

/********** BLOC PAGE **********/
.bloc-page
{
    display: flex;
    flex-direction: column;
}

/* Texte de l'accroche */
.accroche h1
{
    font-size: 1rem;
    font-weight: bold;
}

.accroche p
{
    font-size: 0.7rem;
}

/* Champ de saisie de la ville */
.saisie_ville
{
    height: 30px;
    display: flex;
}
.saisie_ville i
{
    background-color: #F2F2F2;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem 0 0 0.7rem;
}

#ville
{
    border-right: none;
    border-left: none;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    font-weight: bolder;
}

#rechercher
{
    background-color: #0065FC;
    border-radius: 0 0.7rem 0.7rem 0;
    border: none;
    color: white;
}

/* Filtres */
.groupe_filtres
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin-top: 20px;
}

.filtre
{
    height: 30px;
    width: 150px;
    margin-left: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 50px 50px 50px 50px;
    border-left: none;
    display: flex;
}
.groupe_filtres h1
{
    font-size: 0.8rem;
}

.filtre i
{
    background-color: #DEEBFF;
    color: #0065FC;
    height: 32px;
    width: 30px;
    border-radius: 50px 50px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre span
{
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

/* Accroche du nombre de logements disponible */
.nb_logements
{
    display: flex;
    align-items: center;
}

.nb_logements i
{
    color: #0065FC;
    margin-right: 10px;
}

.nb_logements p
{
    font-size: 0.8rem;
}

/* Hébergements Classiques */
.bloc_hébergements
{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.bloc_hébergements h1
{
    padding-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 1.4rem;
}

.bloc_hébergements h2, p, .etoiles
{
    padding-left: 10px;
}

.bloc_hébergements h2
{
    font-size: 1rem;
    /*margin-top: -1rem;*/
    margin-bottom: -10px;
}

.bloc_hébergements p
{
    font-size: 0.7rem;

}

.bloc_hébergements span
{
    font-weight: bold;
}

.bloc_hebergements_classiques
{
    flex-grow: 5;
    margin-right: 30px;
}

.hebergements_classiques
{
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    margin-top: -15px;
}

.groupe1, .groupe2
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.Hebergements_images_dessus, .Hebergements_images_gauche
{
    border: 2px solid white;
    background-color: white;
    width: 200px;
    border-radius: 20px 20px 20px 20px; 
}

.Hebergements_images_dessus img
{
    width: 200px;
    height: 100px;
    background-size: cover;
    border-radius: 20px 20px 0 0;  
}

.etoiles
{
    color: #0065FC;
    margin-top: -10px;
    margin-bottom: 2px;
}

/* Hebergements populaires */
.titre_hebergements_populaires i
{
    position: relative;
    bottom: 50px;
    left: 350px;
}

.bloc_hebergements_populaires
{
    width: 400px;
    background-color: #F2F2F2;
    border-radius: 20px 20px 20px 20px;
    flex-grow: 2;
}

.Hebergements_images_gauche
{
    margin: auto;
    width: 85%;
    height: 100px;
    margin-bottom: 2rem;
}

.Hebergements_images_gauche img
{
    width: 100px;
    height: 100px;
    float: left;
    background-size: cover;
    border-radius: 20px 0 0 20px;  
}

.Hebergements_images_gauche h2
{
    font-size: 1rem;
}
.texte_image
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    border: 1px solid black;
    width: 60%;
    height: 100%;
}
.Hebergements_images_gauche .etoiles
{
    position: relative;
    left: 0;
    top: 0;
}
/********** PIED DE PAGE **********/